#footer{
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    font-size: 0.85rem;
    padding-block: 10px;
}
#footer a{
    color: var(--main-color);
    text-decoration: none;
}
#footer img{
    height: 24px;
}