#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    max-width: 420px;
}
#login h4{
    color: var(--main-color);
    text-transform: uppercase;
    border-bottom: solid 1px #ddd;
    padding-bottom:10px;
    font-weight: 700;
}
#login .form-label{
    font-size: 0.85rem;
    font-weight: 500;
    color: #555;
}
#login .form-control{
    font-size:1rem;
    box-shadow:none
}
#login .input-group .btn,
#login .input-group .form-control{
    border:0;
    box-shadow: none;
}
#login .input-group{
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}