<div id="login">
    <div class="card shadow-lg border-0">
        <img src="assets/images/bg-template.png" class="card-img-top" alt="...">
        <div class="card-body p-5 pt-3">
            <h4 class="mb-4 text-center">Client Login</h4>
            <div class="mb-3">
                <label class="form-label mb-1">युजरनेम</label>
                <input type="text" class="form-control" placeholder="युजरनेम">
            </div>
            <div class="mb-4">
                <label class="form-label mb-1">पासवर्ड </label>
                <input type="password" class="form-control" placeholder="पासवर्ड ">
            </div>
            <div class="mb-0 text-center">
                <button class="btn btn-main">
                    लॉगिन करा
                </button>
            </div>
        </div>
    </div>
</div>