<div class="container-fluid mb-5">
    <div class="card card-body py-2 mb-3 fw-bold">
        PARTICIPANT LIST
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header bg-transparent border-bottom-0 py-3">
                    <div class="form-container">
                        <div class="d-flex">
                            <select class="form-select me-2">
                                <option value="">Select Type</option>
                                <option>सार्वजनिक गणेशोत्सव स्पर्धा</option>
                                <option>घरगुती गौरी सजावट स्पर्धा</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                        <h5 class="mb-1">Mandal Name</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <small>जिल्हा परिषद गट [गावाचे नाव]</small>
                            <small class="badge bg-success bg-opacity-10 text-success fw-normal">सार्वजनिक</small>
                        </div>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">Individual Name</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <small>जिल्हा परिषद गट [गावाचे नाव]</small>
                            <small class="badge bg-primary bg-opacity-10 text-primary fw-normal">घरगुती गौरी</small>
                        </div>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">Mandal Name</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <small>जिल्हा परिषद गट [गावाचे नाव]</small>
                            <small class="badge bg-success bg-opacity-10 text-success fw-normal">सार्वजनिक</small>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 border-start">
            <div class="d-block">
                <h5 class="mb-1 text-main">मंडळाचे नाव (स्वतःचे नाव [मोबाईल क्र.])</h5>
                <div class="d-flex w-100 justify-content-between">
                    <small>जिल्हा परिषद गट [गावाचे नाव]</small>
                    <h6 class="mb-0"><span class="badge bg-success bg-opacity-10 text-success fw-normal">सार्वजनिक</span></h6>
                </div>
            </div>
            <hr class="my-2">
            <div class="row mb-4">
                <div class="col-sm-12">
                    <h6 class="text-muted">सजावटीचे फोटो :</h6>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="assets/images/user.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="assets/images/user.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="assets/images/user.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h6 class="text-muted">सजावटीचे व्हिडिओ :</h6>
                    <div class="card card-body">
                        <img src="assets/images/user.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h6 class="text-muted">सजावटी संदर्भात मराठीतून अधिक माहिती :</h6>
                    <div class="card card-body">
                        <p class="mb-0">asfasfs fasfsadt  dr dsfb f gdsg fhfhfghfh</p>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Member Name</th>
                        <th>Member Designation</th>
                        <th>Mobile No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rahul Mane</td>
                        <td>अध्यक्ष</td>
                        <td>9876442100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>