<div class="row justify-content-center my-3 gx-2">
    <div class="col-sm-12 mb-3">
        <div class="card card-body bg-warning py-2 border-0">
            <p class="mb-0 fw-bold">प्रवेश शुल्क : ५० /- रु. फक्त </p>
        </div>
    </div>

    <div class="col-sm-2 order-0 order-lg-0">
        <div class="card border-warning mb-3">
            <div class="card-header bg-warning border-bottom-0 text-center">
                <h5 class="mb-0">सार्वजनिक गणेशोत्सव सजावट स्पर्धेचे बक्षीस </h5>
            </div>
            <div class="card-body pb-0">
                <div class="row text-center gx-2 prizes">
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">प्रथम बक्षीस </p>
                            <h3 class="mb-0">२५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">द्वितीय बक्षीस </p>
                            <h3 class="mb-0">२१००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">तृतीय बक्षीस </p>
                            <h3 class="mb-0">१५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">चौथे बक्षीस </p>
                            <h3 class="mb-0">११००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">पाचवे बक्षीस </p>
                            <h3 class="mb-0">७००० /-</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                भाग घेणाऱ्या प्रत्येक मंडळाला उत्तेजनार्थ बक्षिस
            </div>
        </div>
    </div>
    <div class="col-sm-8 order-2 order-lg-1">
        <div class="card">
            <!-- <div class="card-header bg-warning text-center p-3 border-bottom-0">
                <h4 class="mb-0">महासंसदरत्न खासदार सौ. सुप्रियाताई सुळे यांच्या मार्गदर्शनाखाली बारामती लोकसभा मतदार
                    संघ राष्ट्रवादी युवक
                    काँग्रेस व महिला राष्ट्रवादी काँग्रेस - पुरंदर आयोजित </h4>
            </div> -->
            <form [formGroup]="registrationForm" (ngSubmit)="submitData()">
                <div class="card-body p-4">
                    <div class="form-container">
                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                                <label class="form-label">स्पर्धेचे नाव :</label>
                            </div>
                            <div class="col-sm-10">
                                <ng-container *ngFor="let item of competitionTypeArray">
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            [checked]="competitionType == item.id ? true:false"
                                            (change)="checkCompetitionType(item)" [value]="item.id">
                                        <label class="form-check-label">
                                            {{item.competitionName}}
                                        </label>

                                    </div>
                                </ng-container>
                                <!-- <div class="form-check form-check-inline"> formControlName="competitionTypeId"
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">
                                        घरगुती गौरी सजावट स्पर्धा
                                    </label>  जिल्हा परिषद गट निवडा 
                                </div> -->
                            </div>
                        </div>
                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                                <label class="form-label py-lg-2 p-0">जिल्हा परिषद गट / शहर :</label>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-select" formControlName="zpgatId"  (change)="wdf()">
                                    <option *ngFor="let name of zpNameArr" [value]="name?.id">{{name?.zpgatName}}
                                    </option>
                                </select>
                                <span *ngIf="f['zpgatId'].errors && isSubmmited" class="invalid-error">
                                    <span *ngIf="f['zpgatId'].hasError('required') && isSubmmited">कृपया जिल्हा परिषद गट
                                        निवडा </span>
                                    <!-- <span *ngIf="f['zpgatId'].hasError('pattern')"> जिल्हा परिषद गट </span> -->
                                </span>
                            </div>
                        </div>
                        <div class="row mb-3 align-content-center"  *ngIf="villageHide != 1">
                            <div class="col-sm-2">
                                <label class="form-label py-lg-2 p-0">गावाचे नाव : </label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="गावाचे नाव "
                                    formControlName='villageName'>
                                <span *ngIf="f['villageName'].errors && isSubmmited" class="invalid-error">
                                    <span *ngIf="f['villageName'].hasError('required') && isSubmmited"> कृपया गावाचे नाव
                                        टाका </span>
                                </span>
                                <!-- <div *ngIf="isSubmmited && f.villageName.errors" class="invalid-error">
                                    <div class="text-danger" *ngIf="f.villageName.errors?.required">कृपया गावाचे नाव
                                        टाका</div>
                                </div> -->
                            </div>
                        </div>
                        <div *ngIf="this.competitionType == 1">
                            <div class="row mb-3 align-content-center">
                                <div class="col-sm-2">
                                    <label class="form-label py-lg-2 p-0">मंडळाचे नाव :</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="मंडळाचे नाव"
                                        formControlName='personName'>
                                    <span *ngIf="f['personName'].errors && isSubmmited" class="invalid-error">
                                        <span *ngIf="f['personName'].hasError('required') && isSubmmited">कृपया मंडळाचे
                                            नाव टाका </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3 align-content-center">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="row gx-2">
                                        <div class="col-sm-2">
                                            <label class="form-label py-lg-2 p-0">अध्यक्षाचे नाव :</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="अध्यक्षाचे नाव"
                                                formControlName="leadername">
                                            <span *ngIf="f['leadername'].errors && isSubmmited" class="invalid-error">
                                                <span *ngIf="f['leadername'].hasError('required') && isSubmmited">कृपया
                                                    अध्यक्षाचे नाव टाका </span>
                                                    <span *ngIf="f['leadername'].hasError('pattern') && isSubmmited">कृपया
                                                        अध्यक्षाचे नाव बरोबर टाका </span>
                                            </span>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="मोबाईल नंबर" 
                                                formControlName="leaderMobileNo" maxlength="10" (keypress)="commonService.acceptedOnlyNumbers($event)">

                                            <span *ngIf="f['leaderMobileNo'].errors && isSubmmited"
                                                class="invalid-error">
                                                <span
                                                    *ngIf="f['leaderMobileNo'].hasError('required') && isSubmmited">कृपया
                                                    अध्यक्षाचे मोबाईल नंबर टाका </span>
                                                    <span
                                                    *ngIf="f['leaderMobileNo'].hasError('pattern') && isSubmmited">कृपया
                                                    अध्यक्षाचे मोबाईल नंबर बरोबर टाका </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 align-content-center">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="row gx-2">
                                        <div class="col-sm-2">
                                            <label class="form-label py-lg-2 p-0">उपाध्यक्षाचे नाव :</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="उपाध्यक्षाचे नाव"
                                                formControlName="vicLeadername">
                                            <span *ngIf="f['vicLeadername'].errors && isSubmmited"
                                                class="invalid-error">
                                                <span
                                                    *ngIf="f['vicLeadername'].hasError('required') && isSubmmited">कृपया
                                                    उपाध्यक्षाचे नाव टाका </span>
                                                    <span
                                                    *ngIf="f['vicLeadername'].hasError('pattern') && isSubmmited">कृपया
                                                    उपाध्यक्षाचे नाव बरोबर टाका </span>
                                            </span>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="मोबाईल नंबर"
                                            maxlength="10" (keypress)="commonService.acceptedOnlyNumbers($event)"
                                                formControlName="vicleadermobileNo">
                   
                                            <span *ngIf="f['vicleadermobileNo'].errors && isSubmmited"
                                            class="invalid-error">
                                            <span
                                                *ngIf="f['vicleadermobileNo'].hasError('required') && isSubmmited">कृपया
                                                उपाध्यक्षाचे मोबाईल नंबर टाका </span>
                                                <span
                                                *ngIf="f['vicleadermobileNo'].hasError('pattern') && isSubmmited">कृपया
                                                उपाध्यक्षाचे मोबाईल नंबर बरोबर टाका </span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 align-content-center">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="row gx-2 mb-2">
                                        <div class="col-sm-2">
                                            <label class="form-label py-lg-2 p-0">सदस्याचे नाव :</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="सदस्याचे नाव"
                                                formControlName="memberName">
                                            <span *ngIf="f['memberName'].errors " class="invalid-error">
                                                <span *ngIf="f['memberName'].hasError('required') ">कृपया सदस्याचे नाव
                                                    टाका </span>
                                                    <span *ngIf="f['memberName'].hasError('pattern') ">कृपया सदस्याचे नाव
                                                        बरोबर टाका </span>
                                            </span>
                                        </div>
                                        <div class="col-sm">
                                            <!-- <div class="input-group"> -->
                                                <input type="text" class="form-control rounded me-1"
                                                maxlength="10" (keypress)="commonService.acceptedOnlyNumbers($event)"
                                                    formControlName="memberMobileNo" placeholder="मोबाईल नंबर">
                                                <!-- <span *ngIf="f['memberMobileNo'].errors " class="invalid-error">
                                                    <span *ngIf="f['memberMobileNo'].hasError('required') ">कृपया
                                                        सदस्याचे मोबाईल क्र. टाका </span>
                                                </span> -->
                                                <span *ngIf="f['memberMobileNo'].errors " class="invalid-error">
                                                <span
                                                    *ngIf="f['memberMobileNo'].hasError('required')">कृपया
                                                    सदस्याचे मोबाईल नंबर टाका </span>
                                                    <span
                                                    *ngIf="f['memberMobileNo'].hasError('pattern')">कृपया
                                                    सदस्याचे मोबाईल नंबर बरोबर टाका </span>
                                            </span>
                                            <!-- </div> -->
                                            
                                        </div>
                                        <div class="col-sm-auto">
                                            <button type="button" class="btn bg-light-main text-main rounded"
                                            (click)="addMember()">Add</button>
                                        </div>
                                    </div>
                                    <table class="table table-bordered" *ngIf="memberArray.length > 0">
                                        <thead>
                                            <tr>
                                                <th>अनु. क्र.</th>
                                                <th>सदस्याचे नाव</th>
                                                <th>मोबाईल क्र.</th>
                                                <th>काढून टाका </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of memberArray let i=index">
                                                <td>{{i+1}}</td>
                                                <td>{{item.personName}}</td>
                                                <td>{{item.mobileNo}}</td>
                                                <td>
                                                    <button class="btn btn-sm bg-danger bg-opacity-10 text-danger"
                                                        (click)="deleteMember(i,item)">
                                                        <i class="fa-regular fa-trash-can"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="competitionType == 2">
                            <div class="row mb-3 align-content-center">
                                <div class="col-sm-2">
                                    <label class="form-label py-lg-2 p-0">स्वतःचे नाव :</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="स्वतःचे नाव"
                                        formControlName="selfPersonName">
                                    <span *ngIf="f['selfPersonName'].errors && isSubmmited" class="invalid-error">
                                        <span *ngIf="f['selfPersonName'].hasError('required') && isSubmmited">कृपया
                                            स्वतःचे नाव. टाका </span>
                                    </span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="मोबाईल नंबर"
                                    maxlength="10" (keypress)="commonService.acceptedOnlyNumbers($event)"
                                        formControlName="selfPersonMobile">
                                    <!-- <span *ngIf="f['selfPersonMobile'].errors && isSubmmited" class="invalid-error">
                                        <span *ngIf="f['selfPersonMobile'].hasError('required') && isSubmmited">कृपया
                                            स्वतःचे नाव. टाका </span>
                                    </span> -->
                                    <span *ngIf="f['selfPersonMobile'].errors && isSubmmited"
                                    class="invalid-error">
                                    <span
                                        *ngIf="f['selfPersonMobile'].hasError('required') && isSubmmited">कृपया
                                        स्वतःचे मोबाईल नंबर टाका </span>
                                        <span
                                        *ngIf="f['selfPersonMobile'].hasError('pattern') && isSubmmited">कृपया
                                        स्वतःचे मोबाईल नंबर बरोबर टाका </span>
                                </span>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                                <label class="form-label py-lg-2 p-0">सजावटीचे फोटो :</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="file" multiple formControlName="imagePath" placeholder="सजावटीचे फोटो"
                                    (change)="imageUpload($event)" class="form-control" #fileInput>
                                    <div class="form-text text-main mb-3">नोंद : जास्तीत जास्त ३ च फोटो अपलोड करावे</div>
                                <div class="d-flex flex-wrap">
                                    <div class="upload-photo"
                                    *ngFor="let galleryImag of galleryImagArray;let i=index">
                                    <img [src]="galleryImag?.imagePath">
                                        <div class="uploaded-images">
                                            <button class="btn bg-light text-danger btn-sm rounded-circle"
                                                (click)="deleteImage(i)">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                                <label class="form-label py-lg-2 p-0">सजावटीचे व्हिडिओ :</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="file" multiple formControlName="videopath" placeholder="सजावटीचे फोटो"
                                    (change)="videoPath($event)" class="form-control" #fileInput1>
                                    <div class="form-text text-main">नोंद : व्हिडिओचा कालावधी ३० सेकंदापेक्षा अधिक नसावा </div>
                                <div class="d-flex flex-wrap" *ngIf="videopath">
                                    <div class="upload-photo">
                                        <video width="220" height="140" controls>
                                            <source src={{videopath}} type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <button type="button" (click)="deleteVideo()"
                                            class="btn bg-danger bg-opacity-10 text-danger btn-sm rounded-circle">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                                <label class="form-label py-lg-2 p-0">सजावटी संदर्भात मराठीतून अधिक माहिती :</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea rows="4" class="form-control" placeholder="अधिक माहिती "
                                    formControlName="moreInfo"></textarea>
                                <span *ngIf="f['moreInfo'].errors && isSubmmited" class="invalid-error">
                                    <span *ngIf="f['moreInfo'].hasError('pattern') && isSubmmited">कृपया सजावटी
                                        संदर्भात बरोबर माहिती टाका </span>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-3 align-content-center">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                                <button class="d-none" data-bs-target="#SuccessModal" data-bs-toggle="modal" #openSuccessModel></button>
                                <!--  data-bs-target="#SuccessModal"    data-bs-toggle="modal"-->
                                <button type="submit" class="btn btn-main btn-lg" 
                                   >
                                    जतन करा
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-2 order-1 order-lg-2">
        <div class="card border-warning mb-3">
            <div class="card-header bg-warning border-bottom-0 text-center">
                <h5 class="mb-0">घरगुती गौरी सजावट स्पर्धेचे बक्षीस</h5>
            </div>
            <div class="card-body pb-0">
                <div class="row text-center gx-2 prizes">
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">प्रथम बक्षीस </p>
                            <h3 class="mb-0">१५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">द्वितीय बक्षीस </p>
                            <h3 class="mb-0">११००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">तृतीय बक्षीस </p>
                            <h3 class="mb-0">७००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">चौथे बक्षीस </p>
                            <h3 class="mb-0">५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">पाचवे बक्षीस </p>
                            <h3 class="mb-0">३००० /-</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                भाग घेणाऱ्या प्रत्येक स्पर्धकाला उत्तेजनार्थ बक्षिस
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="SuccessModal" tabindex="-1" aria-labelledby="SuccessModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SuccessModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- <div class="success-checkmark mb-3">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div> -->
                <img src="assets/images/Success.jpg" class="img-fluid mb-3">
                <h3 class="text-success mb-0">आपण या स्पर्धेमध्ये सहभागी झाल्याबद्दल आपले मन:पुर्वक आभार.</h3>
            </div>
        </div>
    </div>
</div>