.upload-photo{
    position: relative;
    margin-right:20px;
}
.upload-photo img{
    width: 100px;
    height: 100px;
}
.upload-photo .btn{
    position: absolute;
    top:-10px;
    right: -10px;
    font-size: 0.8rem;
}
@media screen and (max-width:480px){
    .prizes p{
        font-size: 0.85rem;
    }
    .prizes h3{
        font-size: 1rem;
    }
    .prizes .card-body{
        padding: 15px;
    }
}

.galleryImagescarousel img{
    width: 80px;
}
.table {
    font-size: 0.85rem;
}
.table th{
    background-color:#eee;
}
.table td, .table th{
    vertical-align: middle;
}