<div class="row justify-content-center my-3 gx-2">
    <div class="col-sm-12 mb-3">
        <div class="card card-body bg-warning py-2 border-0">
            <p class="mb-0 fw-bold">प्रवेश फीस : अक्षरी ५० /- रु. फक्त </p>
        </div>
    </div>

    <div class="col-sm-2 order-0 order-lg-0">
        <div class="card border-warning mb-3">
            <div class="card-header bg-warning border-bottom-0 text-center">
                <h5 class="mb-0">सार्वजनिक गणेशोत्सव सजावट स्पर्धेचे बक्षीस </h5>
            </div>
            <div class="card-body pb-0">
                <div class="row text-center gx-2 prizes">
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">प्रथम बक्षीस </p>
                        <h3 class="mb-0">२५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">द्वितीय बक्षीस </p>
                        <h3 class="mb-0">२१००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">तृतीय बक्षीस </p>
                        <h3 class="mb-0">१५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">चौथे बक्षीस </p>
                        <h3 class="mb-0">११००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">पाचवे बक्षीस </p>
                        <h3 class="mb-0">७००० /-</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 order-2 order-lg-1">
        <div class="card">
            <!-- <div class="card-header bg-warning text-center p-3 border-bottom-0">
                <h4 class="mb-0">महासंसदरत्न खासदार सौ. सुप्रियाताई सुळे यांच्या मार्गदर्शनाखाली बारामती लोकसभा मतदार
                    संघ राष्ट्रवादी युवक
                    काँग्रेस व महिला राष्ट्रवादी काँग्रेस - पुरंदर आयोजित </h4>
            </div> -->
            <div class="card-body p-4">
                <div class="form-container">
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label">स्पर्धेचे नाव :</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">
                                    सार्वजनिक गणेशोत्सव स्पर्धा
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">
                                    घरगुती गौरी सजावट स्पर्धा
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">जिल्हा परिषद गट :</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-select">
                                <option value="">जिल्हा परिषद गट निवडा </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">गावाचे नाव :</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="गावाचे नाव ">
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">मंडळाचे नाव :</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="मंडळाचे नाव">
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="row gx-2">
                                <div class="col-sm-2">
                                    <label class="form-label py-lg-2 p-0">अध्यक्षाचे नाव :</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="अध्यक्षाचे नाव">
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" placeholder="मोबाईल क्र.  ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="row gx-2">
                                <div class="col-sm-2">
                                    <label class="form-label py-lg-2 p-0">उपाध्यक्षाचे नाव :</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="उपाध्यक्षाचे नाव">
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" placeholder="मोबाईल क्र.  ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="row gx-2">
                                <div class="col-sm-2">
                                    <label class="form-label py-lg-2 p-0">सदस्याचे नाव (1) :</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="सदस्याचे नाव">
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="number" class="form-control rounded me-1"
                                            placeholder="मोबाईल क्र.">
                                        <button type="submit" class="btn bg-light-main text-main rounded">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">स्वतःचे नाव :</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="स्वतःचे नाव">
                        </div>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" placeholder="मोबाईल क्र.">
                        </div>
                    </div>

                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">सजावटीचे फोटो :</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="file" class="form-control mb-3" placeholder="सजावटीचे फोटो">
                            <div class="d-flex flex-wrap">
                                <div class="upload-photo">
                                    <img src="assets/images/user.jpg">
                                    <button type="button" class="btn bg-danger bg-opacity-10 text-danger btn-sm rounded-circle">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                                <div class="upload-photo">
                                    <img src="assets/images/user.jpg">
                                    <button type="button" class="btn bg-danger bg-opacity-10 text-danger btn-sm rounded-circle">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">सजावटीचे व्हिडिओ  :</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="file" class="form-control mb-3">
                            <div class="d-flex flex-wrap">
                                <div class="upload-photo">
                                    <video width="220" height="140" controls>
                                        <source src="movie.mp4" type="video/mp4">
                                      Your browser does not support the video tag.
                                      </video>
                                    <button type="button" class="btn bg-danger bg-opacity-10 text-danger btn-sm rounded-circle">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                            <label class="form-label py-lg-2 p-0">सजावटी संदर्भात मराठीतून अधिक माहिती   :</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" placeholder="अधिक माहिती "></textarea>
                        </div>
                    </div>
                    <div class="row mb-3 align-content-center">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-main btn-lg">
                                जतन करा
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 order-1 order-lg-2">
        <div class="card border-warning mb-3">
            <div class="card-header bg-warning border-bottom-0 text-center">
                <h5 class="mb-0">घरगुती गौरी सजावट स्पर्धेचे बक्षीस</h5>
            </div>
            <div class="card-body pb-0">
                <div class="row text-center gx-2 prizes">
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">प्रथम बक्षीस </p>
                        <h3 class="mb-0">१५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">द्वितीय बक्षीस </p>
                        <h3 class="mb-0">११००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">तृतीय बक्षीस </p>
                        <h3 class="mb-0">७००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">चौथे बक्षीस </p>
                        <h3 class="mb-0">५००० /-</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col">
                        <div class="card card-body mb-3">
                            <p class="mb-0 fw-bold">पाचवे बक्षीस </p>
                        <h3 class="mb-0">३००० /-</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>