<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>अनु. क्र.</th>
                        <th>गट / शहर</th>
                        <th>सार्वजनिक गणेशोत्सव</th>
                        <th>गौरी सजावट</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Kukkudwad Gat</td>
                        <td>34</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>